<div class="loginPage">
	<h2 class="title">Twenty-six</h2>
  <div class="container">
    <div class="loginPage_contents">
      <h1 class="loginPage_contents_title">
      Go Beyond the Borders<br>
      of<br>
      Messages
      </h1>
      <%= link_to "メールアドレスでログインする", new_user_session_path, class: "btn loginPage_contents_btn" %>
    </div>
  </div>
</div>