<header class="aboutHeader">
	<h2><%= link_to 'Twenty-six', root_path, :style=>"color: #ffffff;", class: "aboutTitle" %></h2>
	<div class="box-list">
		<ul>
			<li><%= link_to 'ログイン', new_user_session_path, :style=>"color: #ffffff;", class: "box1" %></li>
			<li><%= link_to '新規登録', new_user_registration_path, :style=>"color: #ffffff;", class: "box2" %></li>
		</ul>
    </div>
</header>
<body>
	<div class="aboutPage">
		<h1 id="title"><strong>About</strong></h1>
		<p class="Introduction">
		当WEBサービス、26(Twenty-six)では人と人との交流をインターネットを通して円滑にします。<br><br><br>
		26とは、アルファベット26文字に由来し、多くの名前の人々に使って欲しいという思いを込めて名付けました。<br><br><br>アカウント登録後、感覚的にスワイプをし、相互マッチをしたユーザーとメッセージやビデオ通話をすることができます。<br><br><br>
		皆さんも新しい出会いを26で探しましょう！</p>
	</div>
</body>