// Place all the styles related to the About controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.aboutHeader {
  background-color: #fd5068;
  color: #fff;
  height: 90px;
}

.aboutTitle {
	font-size: 36px;
	float: left;
	padding:20px 40px;
}

.box-list {
	li {
		list-style: none;
		float: right;
		padding:33px 20px;
	}
}

.type-1 {
  span {
    transition: all 0.3s;
    transform: rotate(0deg);
  }
  .top {
    transform: translateY(-17px);
  }
  .bottom {
    transform: translateY(17px);
  }
}

.aboutPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    margin-top: 50px;
}

.Introduction {
	font-size: 23px;
	margin-top: 50px;
}